@keyframes headingFlyIn {
    from {margin-left: -100vw}
    to {margin-left: 32px}
}

.heading {
    margin-left: 32px;
    margin-top: 8vh;
    background-color: rgba(34, 34, 34, 0.9);
    width: calc(100vw - 64px);
    height: fit-content;
    padding: 0px;

    animation-name: headingFlyIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
}
    .blurb {
        margin-left: 24px;
        display: flex;
        align-items: center;
    }

        .blurb p {
            margin-left: 24px;
            font-size: 30px;
            color: white;
            padding-bottom: 24px;
        }

    .spannerIconDesktop {
        width: 128px;
        margin-left: 48px;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .spannerIconMobile {
        display: none;
    }

@keyframes projectsHeadingFlyIn {
    from {margin-left: 100vw}
    to {margin-left: 240px}
}

.allProjectsHeading {
    color: #FBEFCC;;
    background-color: rgba(34, 34, 34, 0.9);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 6vw;
}
    .allProjectsHeading h1 {
        font-size: 72px;
        color: #FBEFCC;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 24px;
    }

.projectsContainer {
    animation-name: projectsHeadingFlyIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-left: 240px;
    margin-right: 120px;
    max-width: 1800px;
}

@media(max-width: 1200px) {
    @keyframes projectsHeadingFlyIn {
        from {margin-left: 100vw}
        to {margin-left: 32px}
    }

    .allProjectsHeading h1 {
        font-size: 48px;
    }
    
    .heading {
        display:block;
        margin-top: 24px;
    }

    .heading .blurb {
        margin: 0px;
    }

    .heading .blurb p {
        font-size: 24px;
    }

    .spannerIconMobile {
        display: block;
        width: 48px;
        margin-left: 12px;
        margin-right: 36px;
        margin-top: 12px;
        margin-bottom: 12px; 
        float: left;
    }

    .spannerIconDesktop {
        display: none;
    }
}