.firstViewPort {
    height: 100%;
}

.introduction {
    margin-left: 32px;
    margin-top: 16vh;
    background-color: rgba(34, 34, 34, 0.9);
    width: 80vw;
    padding: 16px;
    padding-right: 32px;
}
    .introduction h1 {
        font-size: 8vw;
        margin-top:12px;
        color: #FBEFCC;
        margin-left: 96px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .introduction .introductionBlurbTop {
        font-size: 2vw;
        color: white;
        margin-bottom: 0px;
    }

    .introduction .introductionBlurbBottom {
        font-size: 2vw;
        color: white;
    }

.featuredProjectsHeading {
    font-size: 6vw;
    color: #FBEFCC;;
    background-color: rgba(34, 34, 34, 0.9);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 144px;
    margin-right: 72px;
}
    .featuredProjectsHeading h1 {
        font-size: 6vw;
        color: #FBEFCC;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 32px;
    }

.projectsContainer {
    margin: 0px;
    padding: 0px;
}
    .project {
        padding: 0x;
        margin: 0px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-left: 144px;
        margin-right: 72px;
    }
        .project .projectImage {
            display: inline-block;
            width: 30vw;
            padding: 32px;
        }
            .project .projectImage video {
                width: 100%;
                border-radius: 16px;
            }

            .project .projectImage img {
                border-radius: 16px;
                width: 100%;
            }

            @keyframes projectImageHoverAnimation {
                from {scale: 1;}
                to {scale: 1.05;}
            }
            .project .projectImage img:hover {
                animation-name: projectImageHoverAnimation;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            .project .projectImage video:hover {
                animation-name: projectImageHoverAnimation;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }

        .project .projectBlurb {
            display: inline-block;
            vertical-align: top;
            width: 30vw;
            padding: 16px;
        }

        .project h2 {
            font-size: 4vw;
            margin-top: 4px;
            margin-bottom: 16px;
        }

        /* .project p {
            
        } */

.moreProjects {
    font-size: 6vw;
    color: white;;
    background-color: rgba(34, 34, 34, 0.9);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 144px;
    margin-right: 72px;
}
    .moreProjects h3 {
        font-size: 2vw;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 32px;
    }
        .moreProjects h3 a {
            color: white;
        }
.bottomPadding {
    height: 6vh;
}