.firstViewPort {
    min-height: 100%;
}

.introduction {
    margin-left: 32px;
    margin-top: 16vh;
    background-color: rgba(34, 34, 34, 0.9);
    width: 80vw;
    padding: 16px;
    padding-right: 32px;
}
    .introduction h1 {
        font-size: 164px;
        margin-top:12px;
        color: #FBEFCC;
        margin-left: 96px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .introduction .introductionBlurbTop {
        font-size: 36px;
        color: white;
        margin-bottom: 0px;
    }

    .introduction .introductionBlurbBottom {
        font-size: 36px;
        color: white;
    }

.featuredProjectsHeading {
    color: #FBEFCC;;
    background-color: rgba(34, 34, 34, 0.9);
    padding-top: 16px;
    padding-bottom: 16px;
}
    .featuredProjectsHeading h1 {
        font-size: 72px;
        color: #FBEFCC;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 2vw;
    }

.moreProjects {
    color: white;
    background-color: rgba(34, 34, 34, 0.9);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 96px;
}
    .moreProjects h3 {
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 24px;
    }
        .moreProjects h3 a {
            color: white;
        }

@media(max-width: 1800px) { 
    .introduction h1 {
        font-size: 124px;
    }

    .introduction .introductionBlurbTop {
        font-size: 28px;
    }

    .introduction .introductionBlurbBottom {
        font-size: 28px;
    }

    .featuredProjectsHeading {
        margin-top: 32px;
    }

    .featuredProjectsHeading h1 {
        font-size: 48px;
    }

    .moreProjects h3 {
        font-size: 34px;
    }
}

@media(max-width: 1200px) { 
    .introduction {
        margin-top: 8vh;
    }
        .introduction h1 {
            font-size: 82px;
        }

        .introduction .introductionBlurbTop {
            font-size: 22px;
        }

        .introduction .introductionBlurbBottom {
            font-size: 22px;
        }

    .featuredProjectsHeading {
        margin-top: 128px;
    }

    .featuredProjectsHeading h1 {
        font-size: 36px;
    }

    .moreProjects h3 {
        font-size: 16px;
    }
}