.firstViewPort {
    height: 100%;
}

.introduction {
    margin-left: 32px;
    margin-top: 16vh;
    background-color: rgba(34, 34, 34, 0.9);
    width: 80vw;
    padding: 16px;
    padding-right: 32px;
}
    .introduction h1 {
        font-size: 8vw;
        margin-top:12px;
        color: #FBEFCC;
        margin-left: 96px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .introduction .introductionBlurbTop {
        font-size: 2vw;
        color: white;
        margin-bottom: 0px;
    }

    .introduction .introductionBlurbBottom {
        font-size: 2vw;
        color: white;
    }

.featuredProjectsHeading {
    font-size: 6vw;
    color: #FBEFCC;;
    background-color: rgba(34, 34, 34, 0.9);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 10vw;
    margin-right: 5vw;
}
    .featuredProjectsHeading h1 {
        font-size: 6vw;
        color: #FBEFCC;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 2vw;
    }

.moreProjects {
    font-size: 6vw;
    color: white;;
    background-color: rgba(34, 34, 34, 0.9);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 10vw;
    margin-right: 5vw;
}
    .moreProjects h3 {
        font-size: 2vw;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 2vw;
    }
        .moreProjects h3 a {
            color: white;
        }
.bottomPadding {
    height: 6vh;
}