html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

}