.projectsContainer {
    margin: 0px;
    padding: 0px;
    margin-left: 10vw;
}
    .project {
        padding: 0x;
        margin: 0px;
        background-color: rgba(255, 255, 255, 0.8);
        margin-right: 5vw;
    }
        .project .projectImage {
            display: inline-block;
            max-width: 40%;
            padding: 4vw;
        }

        .project .projectImage:hover {
            cursor: pointer;
        }
            .project .projectImage video {
                width: 100%;
                border-radius: 16px;
                padding: 0px;
                margin: 0px;
            }

            .project .projectImage img {
                border-radius: 16px;
                width: 100%;
                padding: 0px;
                margin: 0px;
            }

            @keyframes projectImageHoverAnimation {
                from {scale: 1;}
                to {scale: 1.05;}
            }
            .project .projectImage img:hover {
                animation-name: projectImageHoverAnimation;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            .project .projectImage video:hover {
                animation-name: projectImageHoverAnimation;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }

        .project .projectBlurb {
            display: inline-block;
            vertical-align: top;
            width: 40%;
            padding: 1vw;
            margin: 3vw;
            margin-top: 6vw;
        }

        .project h2 {
            font-size: 4vh;
            margin-top: 4px;
            margin-bottom: 16px;
        }

        /* .project p {
            
        } */