.projectsContainer {
    margin: 0px;
    padding: 0px;
}
    .project {
        padding: 0x;
        margin: 0px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-left: 144px;
        margin-right: 72px;
    }
        .project .projectImage {
            display: inline-block;
            width: 30vw;
            padding: 32px;
            margin: 48px;
        }
            .project .projectImage video {
                width: 100%;
                border-radius: 16px;
            }

            .project .projectImage img {
                border-radius: 16px;
                width: 100%;
            }

            @keyframes projectImageHoverAnimation {
                from {scale: 1;}
                to {scale: 1.05;}
            }
            .project .projectImage img:hover {
                animation-name: projectImageHoverAnimation;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            .project .projectImage video:hover {
                animation-name: projectImageHoverAnimation;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }

        .project .projectBlurb {
            display: inline-block;
            vertical-align: top;
            width: 30vw;
            padding: 16px;
            margin: 48px;
            margin-top: 96px;
        }

        .project h2 {
            font-size: 2vw;
            margin-top: 4px;
            margin-bottom: 16px;
        }

        /* .project p {
            
        } */