.background {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4vh;
    margin-bottom: 6vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 32px;
}
    .emailSpan {
        background-color: #e0876a;
        color: #e0876a;
        user-select: none;
        border-radius: 6px;
        cursor: pointer;
    }

    .contactForm .labelFieldPair {
        display: flex;
        justify-content: space-between;
        width: 324px;
    }

        .contactForm .labelFieldPair .field {
            min-width: 3ch;
            text-align: right;
        }

        .contactForm textarea {
            max-width: 80%;
            min-width: 484px;
        }

@keyframes copyEmailFadeOut {
    from {opacity: 1;}
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.copyEmailClipboard {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 16px;
}

    .copyEmailClipboard span {
        background-color: green;
        color: white;
        border-radius: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        visibility: hidden;
        user-select: none;
        cursor: pointer;
    }