.footerEmbedded {
    background-color: rgb(34, 34, 34);
    color: white;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footerEmbedded p {
    margin-bottom: 8px;
    margin-top: 8px;
}