header {
    background-color: rgba(34, 34, 34, 0.9);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:ProximaNova, Arial;
    letter-spacing: 3px;
}
    .homePageLink {
        text-decoration: none;
    }
        .headerTitle {
            color: white;
            font-size: 54px;
            margin-top: 6px;
            margin-bottom: 6px;
            margin-left: 12px;
            color: #FBEFCC;
            font-style: bold;
        }

    nav {
        text-align: left;
        margin-right: 20px;
    }

        nav a {
            color: white;
            font-size: 28px;
            letter-spacing: 3px;
            text-decoration: none;
            margin-left: 36px;

            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        nav a:hover {
            text-decoration: underline;
        }

    .banner {
        width: 100%;
        text-align: center;
        background-color: #fbef;
        visibility: hidden;
    }

@media(max-width: 1200px) {
    header {
        padding: 5px;
    }
    
    .headerTitle {
        font-size: 24px;
    }

    nav {
        margin-right: 12px;
    }
    nav a {
        font-size: 12px;
        margin-left: 12px;
    }
}