header {
    background-color: rgba(34, 34, 34, 0.9);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTitle {
    color: white;
    font-size: 4vw;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 12px;
    color: #FBEFCC;
    font-style: bold;
}

nav {
    text-align: left;
    margin-right: 36px;
}

nav a {
    color: white;
    font-size: 2vw;
    text-decoration: none;
    margin-left: 96px;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav a:hover {
    text-decoration: underline;
}

.homePageLink {
    text-decoration: none;
}